# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS/system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Ignore notes.txt
notes.txt

# Coverage files
.coverage
htmlcov/

# Logs and logs
logs/

